* {
    font-family: "Noto Kufi Arabic", serif;
    font-optical-sizing: auto;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

/* bootstrap.css */
dt {
    font-weight: 700
        /* rtl:600 */
    ;
}

/* bootstrap.rtl.css */
dt {
    font-weight: 600;
}

.ahlan{
    color: rgb(108, 108, 104);
    text-align: justify;
    /* لضبط النصوص */
    direction: rtl;
    /* لجعل النصوص تبدأ من اليمين */
}
.col-5, .hat {
    text-align: justify;
    /* لضبط النصوص */
    direction: rtl;
    /* لجعل النصوص تبدأ من اليمين */
        color: rgb(108, 108, 104);

}

.custom-footer {
    background-color: #f4f4f4;
    /* لون رمادي فاتح */
    color: #333;
    /* نص داكن ليتباين مع الخلفية */
}

@media (max-width: 430px) {
    /* تخصيص الأنماط عندما يكون عرض الشاشة أقل من 430px (شاشة iPhone 12 Pro Max عموديًا) */
    body {
      font-size: 14px;
    }
    .container {
      padding: 15px;
    }
  }
  