* {
    font-family: "Noto Kufi Arabic", serif;
    font-optical-sizing: auto;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

/* bootstrap.css */
dt {
    font-weight: 700
        /* rtl:600 */
    ;
}

/* bootstrap.rtl.css */
dt {
    font-weight: 600;
}

.main-container {
    margin-top: 1cm;
    /* يضيف مسافة 5 سم من الأعلى */
}

.ahlan {
    color: rgb(108, 108, 104);
    text-align: justify;
    /* لضبط النصوص */
    direction: rtl;
    /* لجعل النصوص تبدأ من اليمين */
}

.col-5,
.hat {
    text-align: justify;
    /* لضبط النصوص */
    direction: rtl;
    /* لجعل النصوص تبدأ من اليمين */
    color: rgb(108, 108, 104);

}

.custom-footer {
    background-color: #f4f4f4;
    /* لون رمادي فاتح */
    color: #333;
    /* نص داكن ليتباين مع الخلفية */
}

.editor-header {
    text-align: start;
}

.editor-header h1 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    color: #3e61ab;
    font-weight: bold;
}

.editor-header p {
    font-family: 'Noto Kufi Arabic', sans-serif;
    color: #6c757d;
    font-size: 1rem;
}




